*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #141434ef;
    color: white;
    
}
.text-blue{
    color: dodgerblue;
}
/*CSS Header*/

header, nav, .container, .navbar-nav, .navbar, .navbar-brand, .navbar-expand-lg, .bg-body-tertiary, #navbarNavDropdown, .navbar-collapse, .collapse {
width: 100vw;
padding: 0;
margin: 0;
    font-size: 1.6rem;
    color: white;
    background-color: #040435;
    height: 10vh;
   

}
.navbar-collapse, .collapse, .navbar-nav{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 12rem;
}
.nav-link, .nav-item, a{
   
    color: white;
    background-color: #040435;
    margin: 0.7rem;
  
}
.nav-link:hover{
    border-bottom: solid 0.2rem dodgerblue;
    transition: 1s;
}
.nav-link:hover, .nav-item:hover, a:hover{
    color: dodgerblue;
   
}
.dropdown-menu{
    background-color: #07074b;
    
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    background-color: transparent;
    color: dodgerblue;
}



.logotipo{
    height:6rem;
    width:6rem;
}
/*fim do css header*/

/*primeira seção*/
.container-sobre{
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
 padding: 2rem;
align-items: center;
justify-content: space-between;

    
}
.carlos{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
font-size: 1.1rem;
width: 50%;
text-align: justify;


}

.container-perfil{
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-left: 5rem;
    width: 50%;
}
.perfil{
   
  
    height: 21.8rem;
   
    width:23.7rem;
    border-radius: 0.5rem;
    border: 0.2rem dodgerblue solid;
}

/*primeira seção*/
/*seção 2*/

.habilidades{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 2.5rem;
    background-color: #28284fa3;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
}
.container-habilidades{
   display: flex;
   justify-content: center;
}
.suporte, .web{
    margin-left: 4.5rem;
    
}
li{
    list-style: none;
}
.sub-title{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#habilidades{
    font-size: 2.4rem;
   text-align: center;
 
 
   padding: 1rem;
}
/*fim da seção 2*/
/*seção 3*/
.totvs{
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 0;
   width: 100vw;
   padding: 2rem;
}
.container-tcc{
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foto-turma{
    height: 27.5rem;
    width: 37.5rem; 
    border: 0.2rem solid dodgerblue;
    border-radius: 0.4rem;
    margin: 1rem;
   
}
.image-tcc{
    width: 50%;
    padding: 1.5rem;
}
.button-tcc{
    
   text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    padding: 0.6rem;
    background-color: dodgerblue;
    border-radius: 1rem;
   
}
.button-tcc:hover{
    background-color: transparent;
    border: solid 0.2rem dodgerblue;
    color: dodgerblue;
    transition: 1s;
}
/*fim da seção 3*/

/*css footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040435;
   width:105vw;
   padding: 1.5rem;
}
.footer-title{
    background-color: #040435;
    width:105vw;
    margin-bottom: -0.6rem;
    text-align: center;
    font-size: 2.5rem;
}
.center{
   text-align: justify;
    margin-bottom: 0.6rem;
    font-size: 2.5rem;
}
.icon{
    
    height:3.5rem;
    width:3.5rem;
    margin: 0.6rem;
    background-color: #040435;
}
/*fim do css footer*/
#dw{
    display: flex;
    width: 100vw;
    padding: 2rem;
    background-color: #28284fa3;
}
.container-dw{
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media(max-width:991px){
    .navbar-toggler-icon{
        filter: saturate(100);
    border: none;
       width: 3rem;
        margin-top: -7rem;
    }
   
  .dropdown-item{
    font-size: 1rem;
    padding: 0.2rem;
    margin: 0;
    margin-left: 2.5rem;
  }
   .nav-link, .nav-item{
    font-size: 1rem;
    background-color: #040435;
   
    margin: 0rem;
    color: white;

   
   }
  .logotipo{
    display: none;
  }
}
@media (max-width:700px){
    .container-sobre, .habilidades, .container-habilidades,.suporte, .web, .totvs, #dw{
display: flex;
flex-direction: column;
justify-content: center;
flex-wrap: wrap;
align-items: center;
width: 100vw;
    }
    body{
        font-size: 1rem;
    }
    .button-tcc{
        
        padding: 0.5rem;
        font-size: 1rem;
    }
    .foto-turma{
        height: 15rem;
        width: 20rem;
    }
    .image-tcc{
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        
    }
    .container-perfil{
        display: flex;
        justify-content: center;
        
    }
    .perfil{
        width: 15rem;
        margin-left: -3rem;
    height: 15rem;
    }
    h3, .sub-title{
        font-size: 1.4rem;
    }
.icon{
    height: 1.5rem;
    width: 1.5rem;
}
.resp-title, #habilidades{
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
}
p, li{
    font-size: 0.8rem;
    margin-left: -4rem;
}
}
@media (max-width:450px){
   .container-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
  margin-left: -0.5rem;
   } 
   .perfil{
    width: 14rem;
    height: 14rem;
   }
   .habilidades{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: justify;
   }
   #habilidades{
    font-size: 1.5rem;
   }
   h3{
    margin-left: -10rem;
    font-size: 1.2rem;
    
   }
   ul{
    width: 100%;
    margin: 0;
   }
   .foto-turma{
    width: 16.5rem;
    height: 13.5rem;
   }
   .dropdown-item{
    font-size: 0.8rem;
    margin-left: 24rem;
   }
   .nav-item, .nav-item{
    margin-left: 3rem;
  
   }
}