*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #030325;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    color: white;
    background-color: #06063d;
    padding: 2rem 2.5rem;

border-radius: 0.6rem;
box-shadow: 0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.399);
display: flex;
flex-direction: column;
align-items: center;

}
.container h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
}
.input-group{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap:3.1rem;
    padding: 1.3rem 0px;
    text-align: center;
}
.input-field{
    display: flex;
    flex-direction: column;
    
}
.input-field label{
    font-weight: bold;
    margin-bottom: 0.4rem;
font-size: 1.1rem;
}
.input-field input{
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid dodgerblue;
    font-size: 1.1rem;
    border-radius: 0.1rem;
    padding: 0.4rem;
    color: white;
}
.input-field input:focus{
    outline: none;
    border-bottom: 0.2rem solid dodgerblue;
}
#generate{
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: dodgerblue;
    width: 100vw;
    font-size: bold;
    padding: 0.9rem 1.3rem;
    font-size: 1.1rem;
    color: white;
}
#result{
    font-size: 3.1rem;
   
    font-weight: 600;
}
@media (max-width:700px) {
.container{
    width: 30rem;
    padding: 1rem;
}
    .input-group{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: justify;
    margin-left: 0.5rem;
   padding: 1rem;
   width: 28rem;
  }
  #generate{
    width: 100%;
  }
}
@media (max-width:500px){
   .container{
    width: 20rem;
   }
   .input-group{
    width: 18rem;
   }
}
@media (max-width:340px){
    .container{
        width: 15rem;
       }
       .input-group{
        width: 13rem;
        padding: 0.5rem;
       }
       .input-field{
        width: 100%;
       }
}